<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2">			
			</div>
				<div class="col-md-8">
					<div class="jumbotron well">
						<h1><%= @team.title %></h1>
						<h2>Descrição:</h2>
						<p><%= simple_format(@team.description) %></p>
						<hr>
						<div align="center">
						<%= link_to 'OKR', team_okrs_path(@team), class: "btn btn-primary" %>
						<%= link_to 'Editar', edit_team_path(@team), class: "btn btn-primary" %> 
						<%= link_to 'Voltar', teams_path, class: "btn btn-primary" %>
						</div>

						
					</div>
				</div>
			<div class="col-md-2">			
			</div>
		</div>
	</div>
</div>

  
  



  

