<div class="row clearfix">
	<% if kr.completed? %>


	<hr>
	<div class="kr">
		<cite style="opacity: 0.4"><strike><%= kr.content %></strike></cite>
	</div>
	<div class="complete">
		<%= button_to "Completed", complete_okr_kr_path(@okr, kr.id),disabled: true,  method: :patch %>	
	</div>
	<div class="trash">
		<%= button_to "Delete", okr_kr_path(@okr, kr.id), method: :delete, data: {confirm: "Delete KR?"}%>
	</div>
	
	<br>

	<%else%>


	<hr>
	<div class="kr">
		<cite><%= kr.content %></cite>
	</div>
	<div class="complete">
		<%= button_to "Mark as Complete", complete_okr_kr_path(@okr, kr.id), method: :patch, data: {confirm: "Mark as complete?"} %>	
	</div>
	<div class="trash">
	<%= button_to "Delete", okr_kr_path(@okr, kr.id), method: :delete, data: {confirm: "Are you sure?"}%>
	</div>

	<br>
	<%end%>
	

</div>