<div align="center">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/teams">Equipes</a></li>
    <li class="breadcrumb-item"><a href="/teams/<%=@team.id%>/okrs">Equipe: <em><%=@team.title%></em></a></li>
    <li class="breadcrumb-item"><a href="/teams/<%=@team.id%>/okrs/<%=@okr.id%>/krs">OKR: <em><%=@okr.title%></em></a></li>
    <li class="breadcrumb-item active"><strong>KR: <em><%=@kr.title%></em></strong></li>
  </ol>
</div>


<div align="center">
  <%if current_user.editor%>

  <h1>Editar KR</h1>

  <%= form_for ([@team, @okr, @kr]) do |f| %>

    <div class="field">
      <%= f.label :título %> <br>
      <%= f.text_field :title %>
    </div>

     <br>
    <div class="field">
      <%= f.label :howtoscore %> <br>
      <%= f.text_area :howtoscore, cols: "50", rows: "10" %>
    </div>
    <br>

    <div class="field">
      <%= f.label :progresso_do_KR, 'Progresso do KR' %> <br>
      <%= f.select :progress, ['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100'], {}, class:"btn btn-default dropdown-toggle" %>%
    </div>
    

    <div class="field">
      <%= f.hidden_field :okr_id%>
      <%= f.hidden_field :okr_id%>
    </div>

    <br>
    <div class="actions">
      <%= f.submit "Atualizar KR", class:"btn btn-primary"  %>
    </div>
  <% end %>


  <%= link_to 'Back', team_okr_krs_path %>
  <%else%>
  <h2>Você não está autorizado a acessar o conteúdo dessa página.</h2>
  <%= link_to 'Voltar', team_okr_krs_path %>
  <%end%>
</div>