<style>

th {
    text-align: center;
    background-color: purple;
    color: white;
    font-size: 30px;
}

td{
    background-color: white;
    text-align: center;
    font-size: 20px;
    color: black;
}
.percokr{
  width: 10%;
}
.nameokr{
  width: 20%;
}
.opcoesokr{
  width: 20%;
}

</style>

<h1><strong>Equipe: <em><%= @team.title %></em></strong></h1>
<h1>OKR: <em><%= @okr.title %></em></h1>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-5">
    </div>
      <div class="col-md-1">
        <%= button_to new_team_okr_kr_path(@team, @okr), method: :get, class: "btn btn-primary", title:"Criar OKR" do %>
        <span class="glyphicon glyphicon-plus-sign"></span>
        <%end%>
      </div>
      <div class="col-md-1">
        <%= button_to team_okrs_path, method: :get, class: "btn btn-info", title:"Index OKR" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        <%end%>
      </div>
    <div class="col-md-5">
    </div>
  </div>
</div>





<div class="container-fluid">
  <div class="row">

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>

            <th class="nameokr">
              KR
            </th>
            <th>
              How to score
            </th>
            <th class="percokr">
              Status
            </th>
            <th class="opcoesokr">
              Opções
            </th>

          </tr>
        </thead>
        <tbody>
          <% @okr.krs.each do |kr| %>
          <tr>
            <td>
              <strong><%= link_to kr.title, {:action => 'show', :id => kr.id} %></strong>
            </td>
            <td>
              <%= simple_format(kr.howtoscore) %>
            </td>
            <td>
              80%
            </td>
            <td>
              <%= link_to 'Mostrar', {:action => 'show', :id => kr.id}, class: "btn btn-default"%>
              <%= link_to 'Editar', {:action => 'edit', :id => kr.id}, class: "btn btn-default" %>
              <%= link_to 'Excluir', {:action => 'destroy', :id => kr.id}, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-default" %>
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>

  </div>
</div>