<style>

th {
    text-align: center;
    background-color: purple;
    color: white;
    font-size: 20px;
}

td{
    background-color: white;
    text-align: center;
    font-size: 15px;
    color: black;
}
.percokr{
  width: 10%;
}
.nameokr{
  width: 20%;
}
.opcoesokr{
  width: 20%;
}

.progress {
  position: relative;

}
.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color:purple;
}

</style>





<h1><strong>Equipe: <em><%= @team.title %></em></strong></h1>
<h2>OKR: <em><%= @okr.title %></em></h2>




<div class="row">
  <div class="col-md-12">
    <div class="col-md-5">
    </div>
      <div class="col-md-1">
        <%= button_to new_team_okr_kr_path(@team, @okr), method: :get, class: "btn btn-primary", title:"Criar OKR" do %>
        <span class="glyphicon glyphicon-plus-sign"></span>
        <%end%>
      </div>
      <div class="col-md-1">
        <%= button_to team_okrs_path, method: :get, class: "btn btn-info", title:"OKR" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        <%end%>
      </div>
    <div class="col-md-5">
    </div>
  </div>
</div>
<br>

<div class="container-fluid">

<div class="progress" >
<div class="progress-bar progress-bar-striped active" role="progressbar"  style="width: <%= progresso_okr(@okr) %>%">
<strong><span> Progresso do OKR: <%= progresso_okr(@okr) %>%</span></strong>
</div>
</div>

  <div class="row">

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>

            <th class="nameokr">
              KR
            </th>
            <th>
              How to score
            </th>
            <th class="percokr">
              Status
            </th>
            <th class="opcoesokr">
              Opções
            </th>

          </tr>

        </thead>
        <tbody>
          <% @okr.krs.each do |kr| %>
          <tr>
            <td>
              <strong><%= link_to kr.title, {:action => 'show', :id => kr.id} %></strong>
            </td>
            <td>
              <%= simple_format(kr.howtoscore) %>
            </td>
            <td>
                        <div class="progress" align="center" >
            <div class="progress-bar progress-bar-striped active" role="progressbar"  style="width: <%= kr.progress %>%">
            <strong><span><%= kr.progress %>%</span></strong>
            </div>
            </div>
            </td>
            <td>
              <%= link_to 'Mostrar', {:action => 'show', :id => kr.id}, class: "btn btn-default"%>
              <% if current_user.editor %>
              <%= link_to 'Editar', {:action => 'edit', :id => kr.id}, class: "btn btn-default" %>              
              <%= link_to 'Excluir', {:action => 'destroy', :id => kr.id}, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-default" %>
              <%end%>
            
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>

  </div>
</div>

