<h1>New Kr</h1>

<%= form_for ([@team, @okr, @kr]) do |f| %>
  
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :howtoscore %>
    <%= f.text_area :howtoscore %>
  </div>

  <div class="field">
    <%= f.label :okr_id %>
    <%= f.text_field :okr_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', team_okr_krs_path %>
