<div class="row">
	<div class="container-fluid">	
		<h2><strong>OKR: <%= @okr.title %></strong></h2>
		<div class="col-md-12">
			<div class="col-md-2">			
			</div>
				<div class="col-md-8">
					<div class="jumbotron well">
						<h1><%= @kr.title %></h1>
						<p><strong>How to score: </strong><em> <%=@kr.howtoscore %></em></p>												
						<p><strong>Progesso do KR: <%= @kr.progress %>%</strong></p>
						<hr>
						<div align="center">
						<%if current_user.editor %>
						<%= link_to 'Editar', edit_team_okr_kr_path(@team, @okr, @kr), class: "btn btn-primary" %> 
						<%end%>
						<%= link_to 'Voltar', team_okr_krs_path, class: "btn btn-primary" %>
						</div>						
					</div>
				</div>
			<div class="col-md-2">			
			</div>
		</div>
	</div>
</div>

  