


<div class="row">
	<h2><strong>
		<%= @okr.title %>
	</strong></h2>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2">			
			</div>
				<div class="col-md-8">
					<div class="jumbotron well">
						<h1><%= @kr.title %></h1>
						<h2>Descrição:</h2>
						<p><%= simple_format(@kr.howtoscore) %></p>
						<hr>
						<div align="center">
						<%= link_to 'Editar', edit_team_okr_kr_path(@team, @okr, @kr), class: "btn btn-primary" %> 
						<%= link_to 'Voltar', team_okr_krs_path, class: "btn btn-primary" %>
						</div>

						
					</div>
				</div>
			<div class="col-md-2">			
			</div>
		</div>
	</div>
</div>

  