


<div align="center">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/teams">Equipes</a></li>
    <li class="breadcrumb-item"><a href="/teams/<%=@team.id%>/okrs">Equipe: <em><%=@team.title%></em></a></li>
    <li class="breadcrumb-item"><a href="/teams/<%=@team.id%>/okrs/<%=@okr.id%>/krs">OKR: <em><%=@okr.title%></em></a></li>
    <li class="breadcrumb-item active"><strong>KR: <em><%=@kr.title%></em></strong></li>
  </ol>
</div>



<div class="row">
	<div class="container-fluid">		
		<div class="col-md-12">
			<div class="col-md-2">			
			</div>
				<div class="col-md-8">
					<div class="jumbotron well">
						<h1><%= @kr.title %></h1>
						<p><strong>How to score: </strong><em> <%=simple_format(@kr.howtoscore) %></em></p>												
						<p><strong>Progesso do KR: <%= @kr.progress %>%</strong></p>
						<hr>
						<div align="center">
						<%if current_user.editor %>
						<%= link_to 'Editar', edit_team_okr_kr_path(@team, @okr, @kr), class: "btn btn-primary" %> 
						<%end%>
						<%= link_to 'Voltar', team_okr_krs_path, class: "btn btn-primary" %>
						</div>						
					</div>
				</div>
			<div class="col-md-2">			
			</div>
		</div>
	</div>
</div>

  