<style>

th {
    text-align: center;
    background-color: purple;
    color: white;
    font-size: 20px;
}

td{
    background-color: white;
    text-align: center;
    font-size: 15px;
    color: black;
}
.percokr{
  width: 10%;
}
.nameokr{
  width: 20%;
}
.opcoesokr{
  width: 20%;
}
.progress {
  position: relative;

}
.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color:purple;
}

</style>





<h1><strong><em>Equipe: <%= @team.title %></em></strong></h1>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-5">
    </div>
      <div class="col-md-1">
        <%= button_to new_team_okr_path(@team), method: :get, class: "btn btn-primary", title:"Criar OKR" do %>
        <span class="glyphicon glyphicon-plus-sign"></span>
        <%end%>
      </div>
      <div class="col-md-1">
        <%= button_to teams_path, method: :get, class: "btn btn-info", title:"Index Times" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        <%end%>
      </div>
    <div class="col-md-5">
    </div>
  </div>
</div>
<br>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>

            <th class="nameokr">
              OKR
            </th>
            <th>
              Descrição
            </th>
            <th class="percokr">
              Status
            </th>
            <th class="opcoesokr">
              Opções
            </th>

          </tr>
        </thead>
        <tbody>
          <% @team.okrs.each do |okr| %>
          <tr>
            <td>
              <strong><%= link_to okr.title, {:action => 'show', :id => okr.id}  %></strong>
            </td>
            <td>
              <%= simple_format(okr.description) %>
            </td>
            <td>

            <div class="progress" align="center" >
            <div class="progress-bar progress-bar-striped active" role="progressbar"  style="width: <%= progresso_okr(okr) %>%">
            <strong><span><%= progresso_okr(okr) %>%</span></strong>
            </td>
            <td>
              <%= link_to 'Mostrar', {:action => 'show', :id => okr.id}, class: "btn btn-default"%>
              <%if current_user.editor%>
              <%= link_to 'Editar', {:action => 'edit', :id => okr.id}, class: "btn btn-default" %>
              <%= link_to 'Excluir', {:action => 'destroy', :id => okr.id}, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-default" %>
              <%end%>
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>

  </div>
</div>