<h1>OKR</h1>
<%if @okrs.blank?%>

<div align="center"><h2>There are not any OKR to show.</h2></div>

<%else%>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover table-bordered">

      <thead>
  <link rel="stylesheets" href="okrs.scss">

      <tr class="success">
            <th><div align="center">
              OKR</div>
            </th>
            <th ><div align="center">
              Description</div>
            </th>
            <th><div align="center">
              Options</div>
            </th>
      </tr>
     </thead>


<tbody>
<% @okrs.each do |okr| %>

  <tr class="warning">

    <td><strong><%= okr.title.first(15) %></strong></td>
    <td id="okrd2"><%= okr.description %></td>


    <td>
        <%= link_to 'Enter', okr, method: :get %>


        <%= link_to 'Edit', edit_okr_path(okr), method: :get%>


        <%= link_to 'Destroy', okr, method: :delete, data: { confirm: 'Are you sure?' } %>


    </td>


  </tr>

    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<%end%>
<br>
<br>

<div align="center"><%= button_to 'New OKR', new_okr_path, method: :get%></div>

