<h1>OKR</h1>


<table style="width:100%">
  
<thead>
  <link rel="stylesheets" href="okrs.scss">   
  </thead>
<tbody>
    <% @okrs.each do |okr| %>
      <tr>


<table style="width:100%">
  <tr>
    <th style="width:25%"><div align="left"> OKR </div></th>
    <th style="width:25%"><div align="center"> Description </div></th> 
    <th style="width:50%"><div align="right"> Actions </div> </th>
  </tr>
  <tr>
    <td><strong><%= okr.title.first(15) %></strong></td>
    <td><%= okr.description.first(45) %></td> 

    
    <td><div align="right"><%= button_to 'Enter', okr, method: :get %> </div></td>
    <td><div align="right"><%= button_to 'Edit', edit_okr_path(okr), method: :get%> </div></td>
    <td><div align="right"><%= button_to 'Destroy', okr, method: :delete, data: { confirm: 'Are you sure?' } %> </div></td>
    

    <hr>
  </tr>

    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<%= button_to 'New OKR', new_okr_path, method: :get%>
