


<h1>OKR</h1>
<hr>

<table style="width:100%">
  <thead>
    <tr>
      <th><h4>OKR</h4></th>
      <th><h4>Description</h4></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @okrs.each do |okr| %>
      <tr>
        <td><strong><%= okr.title.first(15) %></strong></td>
        <td><%= okr.description.first(15) %></td>
        <td><%= button_to 'Enter', okr, method: :get %></td>
        <td><%= button_to 'Edit', edit_okr_path(okr), method: :get%></td>
        <td><%= button_to 'Destroy', okr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<%= button_to 'New Okr', new_okr_path, method: :get%>
