


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2>
				<strong><%= @okr.title %></strong>
			</h2>
			<p id="okrd">
				<%= @okr.description %>
			</p>

		</div>
	</div>
</div>




<div id="id_wrapper">
<%= render  @okr.krs %>
	<div id="form">
		<%= render "krs/form" %>
	</div>
</div>

<%= link_to 'Edit', edit_okr_path(@okr) %> |
<%= link_to 'Back', okrs_path %>
