


<div class="container-fluid">
	<div class="row">
		<h2><strong>Equipe: <%= @team.title %></strong></h2>
		<div class="col-md-12">
			<div class="col-md-2">
			</div>
				<div class="col-md-8">
					<div class="jumbotron well">
						<h1><%= @okr.title %></h1>
						<p><strong>Descrição:</strong><em> <%=@okr.description %></em></p>							
						<p><strong>Progresso do OKR: <%= progresso_okr(@okr) %>%</strong></p>
						<hr>
						<div align="center">
						<%= link_to 'Mostrar KR', team_okr_krs_path(@team, @okr), class: "btn btn-primary" %>
						<%if current_user.editor %>
						<%= link_to 'Editar', edit_team_okr_path(@team, @okr), class: "btn btn-primary" %>
						<%end%>
						<%= link_to 'Voltar', team_okrs_path, class: "btn btn-primary" %>
						</div>


					</div>
				</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
</div>



